In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('test_data.csv')

    name  age
0    bob   23
1  saget   26
2  james   21

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [5]:
spark

In [7]:
df_pyspark=spark.read.csv('test_data.csv')

In [8]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| name|age|
|  bob| 23|
|saget| 26|
|james| 21|
+-----+---+

In [15]:
df_pyspark = spark.read.option('header', 'true').csv('test_data.csv')

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(name='bob', age='23'),
 Row(name='saget', age='26'),
 Row(name='james', age='21')]

In [18]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)