# Pyspark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('tutorial 5').getOrCreate()

In [7]:
df_pyspark=spark.read.csv('test_data_tutorial5.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     name|  department|salary|
+---------+------------+------+
|    krish|data science| 10000|
|    krish|         IOT|  5000|
|   mahesh|    big data|  4000|
|    krish|    big data|  4000|
|   mahesh|data science|  3000|
|sudhanshu|data science| 20000|
|sudhanshu|         IOT| 10000|
|sudhanshu|    big data|  5000|
|    sunny|data science| 10000|
|    sunny|    big data|  2000|
+---------+------------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

### GroupBy

In [10]:
df_pyspark.groupBy('name').sum().show()    #sum salary by names
df_pyspark.groupBy('department').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|    sunny|      12000|
|    krish|      19000|
|sudhanshu|      35000|
|   mahesh|       7000|
+---------+-----------+

+------------+-----------+
|  department|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    big data|      15000|
|data science|      43000|
+------------+-----------+

In [11]:
# mean
df_pyspark.groupBy('department').mean().show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    big data|     3750.0|
|data science|    10750.0|
+------------+-----------+

In [12]:
df_pyspark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    2|
|    big data|    4|
|data science|    4|
+------------+-----+

In [14]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+