#### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('tutorial4').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('test_data_tutorial4.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+---+------+
| name|age|exp|salary|
+-----+---+---+------+
|  bob| 23|  7| 63000|
|saget| 26|  9| 75000|
|james| 21|  5| 25000|
| paul| 29|  9|100000|
|rohan| 32| 10| 50000|
|jagat| 23|  2| 23000|
+-----+---+---+------+

# Filter operations

In [5]:
# salary of people less than or equal to 50000
df_pyspark.filter("salary<=50000").show()

+-----+---+---+------+
| name|age|exp|salary|
+-----+---+---+------+
|james| 21|  5| 25000|
|rohan| 32| 10| 50000|
|jagat| 23|  2| 23000|
+-----+---+---+------+

In [6]:
# only select specific columns
df_pyspark.filter("salary<=50000").select(['name','age']).show()

+-----+---+
| name|age|
+-----+---+
|james| 21|
|rohan| 32|
|jagat| 23|
+-----+---+

In [7]:
# multiple conditions

df_pyspark.filter((df_pyspark['salary']<=50000) &
                  (df_pyspark['salary']>=25000)).show()

+-----+---+---+------+
| name|age|exp|salary|
+-----+---+---+------+
|james| 21|  5| 25000|
|rohan| 32| 10| 50000|
+-----+---+---+------+

In [9]:
# not condition
df_pyspark.filter(~(df_pyspark['salary']<=50000)).show()

+-----+---+---+------+
| name|age|exp|salary|
+-----+---+---+------+
|  bob| 23|  7| 63000|
|saget| 26|  9| 75000|
| paul| 29|  9|100000|
+-----+---+---+------+